.Chapters__List{
   max-width: 90%;
   margin: 0 auto;
    
}
.Chapter__Item{
    display: flex;
    padding: 10px;
    cursor: pointer;  

    margin: 17px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;

   
    h2{
         font-size: medium;
         color: $dark-sky;
    }
}
.Chapter__Item:hover{
    transform: scale(1.02); 
}
.Link{
    font-size: medium;
    text-decoration: none;
    color: $sky;
}
