@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color:rgb(238, 242 ,245);
    
}
.Component__Header{
    font-weight: bold;
    font-size: 35px;
    margin: 10px;
}
