.Home {
    max-width: 80%;
    margin: 35px auto;

}
.Card{
    background-color:rgb(235, 235, 236);
    padding : 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >h1{
        font-size: 1.3rem;
        margin: 5px;
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid black;
    }
    a:hover{
        color: black;
        border : 1px solid black;
        padding: 7px;
        background-color: white;
        cursor: pointer;
        transition: all ease-in-out;
        
    }
}