.nav__bar {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    max-width: 100%;
    padding: 15px;
    box-shadow: 0px 10px 5px  rgba(56, 56, 56, 0.068);
    border-bottom: 1px solid rgb(182, 180, 180);
    
 
}
.nav__Links{
    display: flex;
    >a {
      text-decoration: none;
      margin: 10px;
      color:$dark-sky;
      font-family: inherit;
      font-weight: 600;
      padding: 22px 0px;
      border-bottom: 2px solid white;
      transition: all .2s  ease-in-out ;
      
    }
    >a:hover{
        color:$dark-sky ;
        border-bottom: 2px solid $dark-sky;
        
        
    }
}

.user__img{
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 35px;
    margin :8px;
}
.login__icon{
    color:rgb(37, 37, 37);
}
.login__icon:hover{
    color: black;
}